---
layout: default
categories: [home]
---

<section class='main-content' id='top'>

    <nav class="module tag-list color-4 major">
        {% assign top_tags = "" %}
        {% for post in paginator.posts %}
        {% capture tagname %}{{ post.categories | array_to_sentence_string }}{% endcapture %}

        {% unless top_tags contains tagname %}
        {%capture top_tags%}{{ top_tags | append: tagname }}{% endcapture %}
        {%capture top_tags%}{{ top_tags | append: "_" }}{% endcapture %}
        <div class="box-floater">
            <a class='boxed' onclick='
                hideShow("all-posts", "{{ post.categories }}");
                var fixlink=document.getElementById("filterlink");
                fixlink.innerHTML = "{{ post.categories | array_to_sentence_string }}";
                ' id='{{ post.categories | array_to_sentence_string }}'>
                {{tagname}}
            </a>
        </div>
        {% endunless %}
        {% endfor %}
        <div style="clear:both;"></div>
    </nav>

    {% for post in paginator.posts %}
    <article class='module color-3 {{ post.categories }} all-posts''>
        <header>
            <span class=' categories'>{{ post.categories | array_to_sentence_string }}</span>

        <h2>
            <a href='{{ fullUrl }}{{ post.url }}' title='{{ post.title }}'>
                {{ post.title }}
            </a>
        </h2>


        </header>

        <p>{{ post.excerpt | strip_html | truncate: 250 }}</p>

    </article>
    {% endfor %}

    <div class='module pagination color-3'>
        {% if paginator.previous_page %}
        <a href='{{ site.url }}{{ paginator.previous_page_path }}' class='previous'>Previous</a>
        {% endif %}

        <span class='page_number'>
            &mdash; {{ paginator.page }} of {{ paginator.total_pages }} &mdash;
        </span>

        {% if paginator.next_page %}
        <a href='{{ site.url }}{{ paginator.next_page_path }}' class='next'>Next</a>
        {% endif %}
    </div>

</section>

<script>



</script>