---
layout: default
---

<section class='main-content' id='top'>

    <nav class="module tag-list color-4">
        
        {% assign top_tags = "" %}
        {% for post in paginator.posts %}
        {% capture tagname %}{{ post.categories | array_to_sentence_string }}{% endcapture %}
                
        {% unless top_tags contains tagname %}        
            {%capture top_tags%}{{ top_tags | append: tagname }}{% endcapture %}
            {%capture top_tags%}{{ top_tags | append: "_" }}{% endcapture %}
        <a class='boxed' onclick='
        var hideClasses = document.querySelectorAll(".all-posts"),
        showClass = document.querySelectorAll(".{{ post.categories }}")
        l = hideClasses.length;
        for (i=0; i < l; i++) {
            hideClasses[i].style.display = "none";
        };
        l = showClass.length;
        for (i=0; i < l; i++) {
            showClass[i].style.display = "block";
        };
        ' id='{{ post.categories | array_to_sentence_string }}'>
            {{tagname}}
        </a>
        {% endunless %}
        {% endfor %}
    </nav>

    {% for post in paginator.posts %}
    <article class='module color-3 {{ post.categories }} all-posts''>
        <header>
            <span class=' categories'>{{ post.categories | array_to_sentence_string }}</span>

        <h2>
            <a href='{{ fullUrl }}{{ post.url }}' title='{{ post.title }}'>
                {{ post.title }}
            </a>
        </h2>


        </header>

        <p>{{ post.excerpt | strip_html | truncate: 250 }}</p>

    </article>
    {% endfor %}

    <div class='module pagination color-3'>
        {% if paginator.previous_page %}
        <a href='{{ site.url }}{{ paginator.previous_page_path }}' class='previous'>Previous</a>
        {% endif %}

        <span class='page_number'>
            &mdash; {{ paginator.page }} of {{ paginator.total_pages }} &mdash;
        </span>

        {% if paginator.next_page %}
        <a href='{{ site.url }}{{ paginator.next_page_path }}' class='next'>Next</a>
        {% endif %}
    </div>

</section>