---
layout: post
---

{{ content }}


<script type="text/javascript" src="assets/js/mapping/leaflet/generic.js"></script>
<script type="text/javascript" src="assets/js/mapping/leaflet/custom.js"></script>
<script type="text/javascript" src="assets/js/mapping/leaflet/panned.js"></script>

<script type="text/javascript" src="assets/js/mapping/leaflet/interests.js"></script>

<script type="text/javascript" src="assets/js/mapping/leaflet/routes.js"></script>
<script type="text/javascript" src="assets/js/mapping/leaflet/biome.js"></script>
<script type="text/javascript" src="assets/js/mapping/leaflet/features.js"></script>
<script type="text/javascript" src="assets/js/mapping/leaflet/public.js"></script>
<script type="text/javascript" src="assets/js/mapping/leaflet/topography.js"></script>
<script type="text/javascript" src="assets/js/mapping/leaflet/roads.js"></script>

<script type="text/javascript" src="assets/js/mapping/leaflet/dataspace.js"></script>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>

<!-- <script src="https://unpkg.com/esri-leaflet/dist/esri-leaflet.js"></script> -->
<script src='https://unpkg.com/@turf/turf/turf.min.js'></script>
